dl.row
  dt.col-3 Username
  dd.col-9!= username
  dt.col-3 Email
  dd.col-9!= email
  dt.col-3 First Name
  dd.col-9!= firstname
  dt.col-3 Last Name
  dd.col-9!= lastname

button#editbtn.options-btn.btn.btn-warning.fa.fa-edit(title='edit')
