h1 Wallet

.table-responsive
  table.table.table-striped.table-boardered.table-hover
    thead
      tr
        th Balance ID
        th Account ID
        th Currency ID
        th Amount
        th Options
    tbody#content
      tr
        td.text-center(colspan=7) No results ...

button.create-btn.btn.btn-primary(type='button') Create Balance