.container
  .jumbotron
    .container
      img.img.rounded.float-right(src="https://icon-icons.com/icons2/478/PNG/512/Bitcoin_46999.png")
      h1.display-2 NYMB
      h4.display-4.text-muted Not Your Mother's Bank
      hr
      p A cryptocurrency trading/exchange platform.
  hr
  footer
    p NYMB - COM S 309 Fall 2017
