.modal-dialog(role='document')
  .modal-content
    .modal-header
      h5.modal-title Add A Vault
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true') ×
    form.modal-body
      .form-group
        label(for='name') Name
        input.form-control#newVaultName(type='text' name='name')
      button#addVault.btn.btn-primary(type='submit') Submit
