.modal-dialog(role='document')
  .modal-content
    .modal-header
      h4.modal-title Are you sure you want to remove access for this user for this vault?
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true') ×
    form.modal-body
      button.confirm-delete-vault.btn.btn-primary(type='submit' ) Remove access for #{data.userName}
