h1 Vaults
.card
    #content.card-block
        .table-responsive
        table.table.table-striped.table-boardered.table-hover
            thead
                tr
                    th VaultID
                    th Vault Name
                    th Look at Funds
                    th Options
            tbody
                tr
                    td few
                    td few Name
                    td few at Funds
                    td few
    
   
        button.add-vault-btn.btn.btn-primary.btn-sm.btn-warning(title='add vault') Create New Vault
    button.backToAllVaults.btn.btn-primary.btn-sm.btn-warning(title='Back To All Vaults' style="visibility:hidden") Back To All Vaults