h4 Permissions for the Vault: #{data.name}
button.close(type='button' data-dismiss='modal' aria-label='Close')




table.table.table-striped.table-boardered.table-hover
    thead
        tr
            th ID
            th Username
            th Can Request Transaction
            th Can Approve Transaction
            th Can Add User
            th Can Remove User
            th Can Add Funds
            th Can Remove Funds
            th Options
    tbody
        tr
           
            td few
            td few Name
            td few at Funds
            td few
            td few Name
            td few at Funds
            td few
            td Options
