
.modal-dialog(role='document')
  .modal-content
    .modal-header
        h5.modal-title #{data.name} Vault Balances
        button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×

    .table-responsive
        table.table.table-striped.table-boardered.table-hover
            thead
                tr
                    th Currency Name 
                    th Amount
            tbody
                tr
                    td few
                    td few Name