.modal-dialog(role='document')
  .modal-content
    .modal-header
      h4.modal-title Permissions for the Vault: #{data.name}
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true') ×



    table.table.table-striped.table-boardered.table-hover
        thead
            tr
                th PermissionID
                th Username
                th Can Request Transaction
                th Can Approve Transaction
                th Can Add User
                th Can Remove User
                th Can Add Funds
                th Can Remove Funds
        tbody
            tr
                td few
                td few
                td few Name
                td few at Funds
                td few
                td few Name
                td few at Funds
                td few