.modal-dialog(role='document')
  .modal-content
    .modal-header
      h5.modal-title Add Funds
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true') ×
    form.modal-body
      .form-group
        label(for='currencyId') Currency
        select.form-control(name='currencyId')
          option(value=1 selected) BTC
          option(value=2) ETH
          option(value=3) LTC
          option(value=4) USD
      .form-group
        label(for='amount') Amount
        input.form-control(type='number' step='any' name='amount')
      button.btn.btn-primary(type='submit') Submit
