form#search-form.mb-3
  .form-group
    label(for='field') Field
    select#field.form-control(name='field')
      option(value='id') ID
      option(value='from') From Account ID
      option(value='to') To Account ID
      option(value='currency') Currency
      option(value='amount') Amount
      option(value='created') Created
      option(value='completed') Completed
  .form-group
    label(for='filter') Filter
    input#filter.form-control(type='text' name='filter')
  .form-group
    button.btn.btn-primary(type='submit') Search
    button#form-cancel.btn.btn-warning.float-right Cancel

.table-responsive
  table.table.table-striped.table-boardered.table-hover
    thead
      tr
        th ID
        th From
        th To
        th Currency
        th Amount
        th Created
        th Completed
        th Options
    tbody
      tr
        td.text-center(colspan=8) No results ...
